html {
    background-color: #606C38;
    font-family: "Playfair Display", serif;
    margin: 10px;
}   

h1 {
    color:white;
    font-size: 35px;
}
    
form {
    width: 600px;
}

.line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
}

.labelinput {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 250px;
}

label {
    margin: 5px 0;
}

input[type="text"], input[type="number"], input[type="mail"], input[type="button"], input[type="date"], select {
    border-radius: 5px;
    border: none;
    height: 22px;
}

span {
    margin: 0;
    font-size: 12px;
    font-style: italic;
    color: white;
}